
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #9e9e9e;
    margin: 6px 0;
    transition: 0.4s;
    
}

.bar1 {
	transform: translateY(2px);
}

.bar3 {
	transform: translateY(-2px);
}


.active .bar1 {

		transform: translateY(-5px);
		transition: .2s;
		background-color: #757575;
}

.active .bar2 {
		transform: translateY(0px);
		transition: .2s;
		background-color: #757575;

}


.active .bar3{

		transform: translateY(5px);
			transition: .2s;
				background-color: #757575;
}
